# Dependencies
node_modules/

# Build outputs
build/
dist/
*.min.js

# Native
android/
ios/
.gradle/

# Config files
*.config.js
babel.config.js
metro.config.js

# Coverage
coverage/
.nyc_output/

# Logs
*.log

# Misc
.DS_Store
*.pem
*.keystore

